[Desktop Entry]
Name=Netcalc
Comment=Network calculator
Keywords=netcalc;network;calc;calculator;net
Exec=/usr/local/bin/netcalc
Terminal=false
Icon=/usr/share/icons/hicolor/64x64/apps/netcalc-icon.png
Type=Application
Categories=Network;Utility