[Desktop Entry]
Name=Netcalc
Comment=Network calculator
Keywords=netcalc;network;calc;calculator;net
Exec=/usr/local/bin/netcalc
Terminal=false
Icon=/usr/share/icons/hicolor/128x128/apps/netcalc-128x128.png
Type=Application
Categories=Network;Utility